:root {
  --color-nord-polar-night-0: #2E3440;
  --color-nord-polar-night-1: #3B4252;
  --color-nord-polar-night-2: #434C5E;
  --color-nord-polar-night-3: #4C566A;

  --color-nord-snow-storm-4: #D8DEE9;
  --color-nord-snow-storm-5: #E5E9F0;
  --color-nord-snow-storm-6: #ECEFF4;

  --color-nord-frost-7: #8FBCBB;
  --color-nord-frost-8: #88C0D0;
  --color-nord-frost-9: #81A1C1;
  --color-nord-frost-10: #5E81AC;

  --color-nord-aurora-11: #BF616A;
  --color-nord-aurora-12: #D08770;
  --color-nord-aurora-13: #EBCB8B;
  --color-nord-aurora-14: #A3BE8C;
  --color-nord-aurora-15: #B48EAD;

  --body-text-color: var(--color-nord-polar-night-3);
  --body-header-color: var(--color-nord-polar-night-3);
  --body-h1-color: var(--color-nord-polar-night-0);

  --table-border-color: var(--color-nord-snow-storm-4);
  --table-border-separator-color: var(--color-nord-polar-night-2);
  --table-head-back-color: var(--color-nord-snow-storm-5);
  --table-head-fore-color: var(--color-nord-polar-night-0);
  --table-body-back-color: var(--color-nord-snow-storm-6);
  --table-body-fore-color: var(--color-nord-polar-night-0);
  --table-body-alt-back-color: var(--color-nord-snow-storm-5);
}

/**
 * @section Base Styles
 */

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
}

body {
  // display: grid;
  height: 100vh;
  margin: 0;
  // place-items: center center;
  color: var(--body-text-color);

  article {
    max-width: 80vw;
    margin: 0 auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-top: 1em;
  margin-bottom: .5em;
  color: var(--body-header-color);
  line-height: 1.5em;

  span {
    font-size: 1rem;
    line-height: inherit;
    vertical-align: middle;
    float: right;
  }
}

h1 {
  color: var(--body-h1-color);
  font-size: 3.052rem;
}

h2 {
  font-size: 1.953rem;
}

h3 {
  font-size: 1.563rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;

  span {
    font-size: .8rem;
  }
}

table {
  width: 100%;
}
th {
  text-align: left;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  margin: 0;
  // display: flex;
  // flex: 0 1 auto;
  // flex-flow: row wrap;
  padding: var(--universal-padding);
  padding-top: 0;
}

table caption {
  font-size: 1.5rem;
  margin: calc(2 * var(--universal-margin)) 0;
  max-width: 100%;
  // flex: 0 0 100%;
}

table thead, table tbody {
  // display: flex;
  // flex-flow: row wrap;
  border: 0.0625rem solid var(--table-border-color);
}

table thead {
  z-index: 999;
  border-radius: var(--universal-border-radius) var(--universal-border-radius) 0 0;
  border-bottom: 0.0625rem solid var(--table-border-separator-color);
}

table th[scope="row"] {
  background: var(--table-body-back-color);
  border-top: 0.0625rem solid var(--table-border-color);
  text-align: left;
}

table tbody {
  border-top: 0;
  margin-top: calc(0 - var(--universal-margin));
  border-radius: 0 0 var(--universal-border-radius) var(--universal-border-radius);
}

table tr {
  padding: 0;
}

table th, table td {
  padding: calc(2 * var(--universal-padding));
}

table th {
  text-align: left;
  background: var(--table-head-back-color);
  color: var(--table-head-fore-color);
}

table td {
  background: var(--table-body-back-color);
  color: var(--table-body-fore-color);
  border-top: 0.0625rem solid var(--table-border-color);
}

table {
  overflow: auto;
  max-height: 400px;
}

table thead, table tbody {
  max-width: 100%;
}

table th, table td {
  overflow: hidden;
  text-overflow: ellipsis;
}

table thead {
  position: sticky;
  top: 0;
}

table tbody tr:first-child td,
table tbody tr:first-child th {
  border-top: 0;
}
