.weather__wrapper {
  --body-text-color: var(--color-nord-snow-storm-6);
  --body-header-color: var(--color-nord-snow-storm-4);

  background: url('../img/bg-sunrise.jpg') no-repeat center / cover;

  h1 + h2 {
    margin-top: -1.526rem;
  }
}

.weather {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}

.weather__current {}

.weather__upcoming_row {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(3, 1fr);

  &--day {}

  &--icon {}

  &--temp {}
}
